<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

	<a href="/admin">admin</a>
	
	
<a href="/hello">hello</a>


<form method="post" action="/do">
		Name:<br />
		<input type="text" name="name" />
		<input type="submit" value="submit"/>
	</form>

</body>
</html>